* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Helvetica Neue", Arial;
    -webkit-font-smoothing: antialiased;
    font-weight: bold;
    max-width:800px;
    margin: auto;
    background: white;
    padding: 0 25px;
}

/***** Header styling *****/

.header-container {
    flex-flow: row wrap;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 50px 0;
    width: 100%;
}

.logo-container {
    margin-left: 15px;
}

h1.logo {
    font-family: 'Satisfy', cursive;
    color: #4484ce;
    font-size: 50px;
    display: block;
}

/***** Navigation styling *****/

nav {
    align-self: center;
    margin: 0 0.4em 0 0.8em;
}

    nav ul li {
        display: inline;
        font-family: 'Helvetica Neue', sans-serif;
        font-weight:400;
        font-size: 18px;
        padding: 0 0 0 1.4em;
        color: #4a4a4a;
    }

        nav ul li a {
            color: #4a4a4a;
            text-decoration: none;
        }

        nav ul li a:hover {
            border-bottom: 1px solid #4a4a4a;
            padding-bottom: 2px;
        }

        nav ul li a.current {
            border-bottom: 1px solid #4a4a4a;
            padding-bottom: 2px;
        }

        nav ul li a i {
            border-bottom: none;
        }

/***** Content styling *****/

p.intro {
    font-size: 50px;
    color: #d9d9d9;
    text-align: left;
}

    p.intro span {
        color: #4a4a4a;
    }

    p.intro a {
        text-decoration: none;
        color: #d9d9d9;
        border-bottom: 8px solid #4484ce;
    }

        p.intro a.newt:hover {
            color: #95BCEB;
        }
        p.intro a.umsi:hover {
            color: #f9cf00;
        }

/***** Profile Links *****/

ul.profiles {
    margin-top: 75px;
    list-style-type: none;
}

    ul.profiles li {
        float:left;
        padding-right: 20px;
    }

    ul.profiles li a {
        text-decoration: none;
        color: #d9d9d9;
    }

    ul.profiles li a:hover {
        color: #4a4a4a;
    }

    ul.profiles li a i {
        padding-right: 5px;
    }

/***** Blog styling *****/

section.blog_posts article {
    border-bottom: 1px solid #333;
    padding-botom: -5px;
}



footer {
    border-top: 1px solid #333;
}
